@model LeaveSystemMVC.Models.sEmployeeModel
@Html.Partial("_LeftMenu")
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@using (Html.BeginForm("Upload", "aBulkAddStaff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Below should not be empstartdate.... need to ask ma'am what to do here
    //this to be committed
    
    
    <div class="form-horizontal">
        <div class="col-md-offset-2 col-md-10">
            <input type="file" id="dataFile" name="upload"/>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>

    <hr />
    <hr />
    <h5>@Model.firstName</h5>

}