@model LeaveSystemMVC.Models.sLeaveModel
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Department View Leave History</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Select Department:  </label>
                <select id="department" name="department">
                    <option>Finance</option>
                    <option>IT</option>
                    <option>HR</option>
                </select>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>Start Date </label>
                    <input type="date" />

                </div>
                <div class="form-group col-xs-4">
                    <label>End Date </label>
                    <input type="date" />
                </div>

            </div>
            <br /> <br />
            @*
                The table would retrieve data from db and show the staff name
                the view button would take them to their detailed history.
                When the view link would be clicked it would also send the staffid to the page
                staffid would be used to query and display the details**@
            <div id="form-group">
               
                <table style="border: 1px black solid;text-align:center;">
                    @{  var dept = "Staff";
                        if (dept == "Staff")
                        {

                            <tr style="border: 1px black solid;">
                                <th style="border:1px solid black;">Staff Name</th>
                                <th style="border:1px solid black;">View History</th>
                            </tr>
                            <tr style="border: 1px black solid;">
                                <td style="border:1px solid black;">Sukhi</td>
                                <td style="border:1px solid black;"><a href="#">View</a></td>
                            </tr>
                            <tr style="border: 1px black solid;">
                                <td style="border:1px solid black;">Jasim</td>
                                <td style="border:1px solid black;"><a href="#">View</a></td>
                            </tr>
                            <tr style="border: 1px black solid;">
                                <td style="border:1px solid black;">Kunal</td>
                                <td style="border:1px solid black;"><a href="#">View</a></td>
                            </tr>

                        }
                        else if (dept == "Admin")
                        {
                    < tr > Department: Admin </ tr >
                        }
                        else if (dept == "HR")
                        {
                    < tr > Department: HR </ tr >
                        } }
                </table>
            </div>

        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
