
<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Staff Member</li>
        @Html.MenuItem("Apply for Leave", "Index", "LApplication")
        @Html.MenuItem("View Leave Balance", "Index", "sLeaveBalance")
        @Html.MenuItem("View Leave History", "Index", "sLeaveHistory")
        @Html.MenuItem("View Leave Status", "Index", "sLeaveStatus")
    </ul>
</div>