@model IEnumerable<LeaveSystemMVC.Models.miniLeaveModel>

<div class="col-md-8 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Applications</li>
        @foreach (var minLeave in Model)
            {
            <li>
                <a href="@Url.Action("SelectLeave", new { id = minLeave.leaveID } )">@minLeave.displayText</a>
                <!--<a class="details-link" href="@Url.Action("SelectEmployee", new { id = minLeave.leaveID })"><i class="glyphicon glyphicon-chevron-right"></i>@minLeave.leaveType</a>-->
            </li>
        }
    </ul>
</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    /*This script will take the html partial returend by the href
    PartialViewResult and place it wherever a div with the
    id corresponding to var detailPartial is placed.*/
    //
        $(function ()
        {
            //leaveOut out as in the outcome Html
            //that will be displayed for the selected leave.
            //
            var detailsPartial = $('#leaveOut');

            $('.leave-link').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');

                $.ajax({
                    url: url,
                    type: 'get',
                    success: function(data) {
                        detailsPartial.html(data);
                        $('#clearLeaveOut').click(function () {
                            detailsPartial.html(null);
                        });
                    }
                });
            });
        });
</script>