@model IEnumerable<LeaveSystemMVC.Models.minStaff>

<div class="col-md-6 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Employees</li>
            @foreach (var minStaff in Model)
            {
                <li>
                    <a class="employee-link" href="@Url.Action("SelectEmployee", new { id = minStaff.empID })"><i class="glyphicon glyphicon-chevron-right"></i>@minStaff.empName</a>
                </li>
            }
    </ul>
</div>


<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    //This script is designed to place html partials at a location 
    //in the master page of this partial. If we want the employee links
    //provided above to take the user to the next page then dont include
    //employee-link in the above <a /> tags' classes. Also the 
    //SelectEmployee action in the controller will need to return a 
    //View instead of a PartialView, note the href in the <a /> tag.
    //
        $(function ()
        {
            //detailsPartial represents the id value of the 
            //container that will hold the outcome html 
            //which will most probably be a partial html.
            //The script will place the outcome html 
            //wherever the first container with the id
            //value corresponding to detailsPartial is
            //placed.
            //
            var detailsPartial = $('#employeeOut');

            $('.employee-link').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');

                $.ajax({
                    url: url,
                    type: 'get',
                    success: function(data) {
                        detailsPartial.html(data);
                        $('#clearEmpOut').click(function () {
                            detailsPartial.html(null);
                        });
                    }
                });
            });
        });
</script>