@model IEnumerable<LeaveSystemMVC.Models.minDepartment>

<div class="col-md-6 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Departments</li>
        @foreach (var minDepartment in Model)
            {
            <li>
                <a class="department-link" href="@Url.Action("SelectDepartment", new { id = minDepartment.departmentID })"><i class="glyphicon glyphicon-chevron-right"></i>@minDepartment.departmentName</a>
            </li>
        }
    </ul>
</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    /*This script will take the html partial returend by the href
    PartialViewResult and place it wherever a div with the
    id corresponding to var detailPartial is placed.*/
    //
        $(function ()
        {
            //departmentOut out as in the outcome Html
            //that will be displayed for the selected department.
            //
            var detailsPartial = $('#departmentOut');

            $('.department-link').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');

                $.ajax({
                    url: url,
                    type: 'get',
                    success: function(data) {
                        detailsPartial.html(data);
                        $('#clearDepOut').click(function () {
                            detailsPartial.html(null);
                        });
                    }
                });
            });
        });
</script>