@model IEnumerable<LeaveSystemMVC.Models.minDepartment>

    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Departments</li>
        @foreach (var minDepartment in Model)
        {
            var actionWithID = "SelectDepartment/" + minDepartment.departmentID;
            var urlAction = Url.Action("");
            var actualUrlAction = urlAction.Substring(1, urlAction.Length - 1);
            @Html.MenuItemExt(minDepartment.departmentName, actionWithID, actualUrlAction, "department-link")
        }
    </ul>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    /*This script will take the html partial returend by the href
    PartialViewResult and place it wherever a div with the
    id corresponding to var detailPartial is placed.*/
    //
        $(function ()
        {
            //departmentOut out as in the outcome Html
            //that will be displayed for the selected department.
            //
            var detailsPartial = $('#departmentOut');

            $('.department-link').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');

                $.ajax({
                    url: url,
                    type: 'get',
                    success: function(data) {
                        detailsPartial.html(data);
                        $('#clearDepOut').click(function () {
                            detailsPartial.html(null);
                        });
                    }
                });
            });
        });
</script>