@model LeaveSystemMVC.Models.miniLeaveListModel

<hr />
<ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
    <li role="presentation" class="dropdown-header">List</li>
    <li>
        <h3>@Model.displayText</h3>
    </li>
</ul>
