@model LeaveSystemMVC.Models.sleaveBalanceModel
@Html.Partial("_LeftMenu")
<div class="col-md-6">
    @using (Html.BeginForm(""))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Credit Leave Balances</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <article>
                Note: To credit the organization's Annual leave balances press the button below. This would reset the balance of all staff member and
                set it to what each employees get at the begining of each year. The remaining balance from previous year gets ignored for all employees 
                except the bus drivers who retain their balance from previous year.
            </article>
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Credit Organization Annual Leave Balances" class="btn btn-default" onclick=""/>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
