@model LeaveSystemMVC.Models.sleaveBalanceModel
@Html.Partial("_LeftMenu")
<div class="col-md-8">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Department Days in Lieu</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*Needs to be edited. Didnt know what to show*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table style="border:2px solid black; text-align:center ;">
                        <tr style="border:0.5px solid black;">
                            <th style="border:1px solid black;">Staff ID</th>
                            <th style="border:1px solid black;">Staff Name</th>
                            <th style="border:1px solid black;">Balance</th>
                            <th style="border:1px solid black;">Edit Balance</th>
                        </tr>
                        <tr style="border:0.5px solid black;">
                            <td style="border:1px solid black;">12345678</td>
                            <td style="border:1px solid black;">Sukhpreet Singh</td>
                            <td style="border:1px solid black;"><input type="text" value="10" disabled="disabled"/></td>
                            <td style="border:1px solid black;">Edit</td>
                        </tr>
                        <tr style="border:0.5px solid black;">
                            <td style="border:1px solid black;">1245678</td>
                            <td style="border:1px solid black;">Jasim Khumi</td>
                            <td style="border:1px solid black;"><input type="text" value="10" disabled="disabled" /></td>
                            <td style="border:1px solid black;">Edit</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
