@Html.Partial("_LeftMenu")
@{
    ViewBag.Title = "Index";
}

<div class="col-md-10">
    <h3>Backup Database</h3>
    <hr />
    <h5>Please note that this might take awhile to generate.</h5>
    <div class="row">
        <div class="col-md-2">
            @using (Html.BeginForm("DownloadBAK", "aBackupDatabase", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-horizontal">
                    <div class="col-md-10">
                        <input type="submit" name="Index" value="Download .BAK" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <div class="col-md-2">
            @using (Html.BeginForm("DownloadSQL", "aBackupDatabase", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-horizontal">
                    <div class="col-md-10">
                        <input type="submit" name="Index" value="Download .SQL" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

