@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>

@{
    ViewBag.Title = "Leave Status";
}
@Html.Partial("_LeftMenu")
<div class="col-md-6">
    <h3>Leave Status</h3>

    <table class="table">
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Application Date
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Leave Status
            </th>
        </tr>


        <tr>
            <td>
                Annual
            </td>
            <td>
                24-6-2015
            </td>
            <td>
                24-7-2015
            </td>
            <td>
                24-8-2015
            </td>
            <td>
                12:00AM
            </td>
            <td>
                12:00AM
            </td>
            <td>
                Pending by HR
            </td>
            
        </tr>


        <tr>
            <td>
                Sick
            </td>
            <td>
                24-2-2015
            </td>
            <td>
                24-2-2015
            </td>
            <td>
                24-2-2015
            </td>
            <td>
                12:00AM
            </td>
            <td>
                12:00AM
            </td>
            <td>
                Accepted by LM
            </td>
        </tr>


    </table>
</div>
