@model IEnumerable<LeaveSystemMVC.Models.minDepartment>
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h2>Edit Staff Member</h2>
    <hr />
    <h4>Employees</h4>
    <hr />
    @{
        var DepartmentList = ViewData["DepartmentList"] as LeaveSystemMVC.Models.minDepartment;
    }
    @Html.Partial("_MinDepartmentList", @DepartmentList)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function ()
        {
            var $this = $("#isAdmin");

            if ($this.is(':checked'))
            {
                $('#staffType').attr("disabled", "disabled")
                $('#optionalStaffType').attr("disabled", "disabled")
            }
        });
        $('#isAdmin').click(function ()
        {
            var $this = $(this);

            if ($this.is(':unchecked'))
            {
                $('#staffType').removeAttr("disabled");
                $('#optionalStaffType').removeAttr("disabled");
            }
            else
            {
                $('#staffType').attr("disabled", "disabled")
                $('#optionalStaffType').attr("disabled", "disabled")
            }
        });
    </script>
}
