@model LeaveSystemMVC.Models.minStaff
@{
    ViewBag.Title = "Select";
}
@{ 
        var employeeList = ViewData["EmployeeList"] as Dictionary<int, string>;
}
@Html.Partial("_LeftMenu")
<div class="col-md-4">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2>Select Employee</h2>
        <hr />

        <div class="form-horizontal">
            <div class="row">
                <div class="form-inline">
                    @Html.DropDownListFor(model => model.empIDAsString, new SelectList(employeeList, "Key", "Value"), "- Select Employee -", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.empIDAsString, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>


