@model LeaveSystemMVC.Models.sleaveBalanceModel
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>Department Leave Balance</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            <div class="form-group">
               
                <div class="form-group col-md-10" >
                    <label>Select Department: </label>
                    <select>
                        <option>Finance</option>
                        <option>HR</option>            
                        <option>IT</option>
                    </select>
                <hr/>
                <table style="width:100%;border: 1.5px solid black; margin:0px;">
                    <tr style="border: 1px solid black; text-align:center;">
                        <th style="border: 1px solid black;"> Staff ID </th>
                        <th style="border: 1px solid black;"> Staff Name </th>
                        <th style="border: 1px solid black;"> Annual Leave </th>
                        <th style="border: 1px solid black;"> Sick Leave </th>
                        <th style="border: 1px solid black;"> Compassionate Leave </th>
                        <th style="border: 1px solid black;"> Short Leave </th>
                        <th style="border: 1px solid black;"> Maternity Leave </th>
                        <th style="border: 1px solid black;"> Days in Lieu </th>
                    </tr>
   
            <tr style="border: 1.5px solid black;">
                <td style="border: 1px solid black;"> 12345678 </td>
                <td style="border: 1px solid black;"> Junaid </td>
                <td style="border: 1px solid black;"> 1 </td>
                <td style="border: 1px solid black;"> 0 </td>
                <td style="border: 1px solid black;"> 0 </td>
                <td style="border: 1px solid black;"> 1 </td>
                <td style="border: 1px solid black;"> 0 </td>
                <td style="border: 1px solid black;"> 2 </td>
            </tr>
            <tr style="border: 1.5px solid black;">
                <td style="border: 1px solid black;"> 22345678 </td>
                <td style="border: 1px solid black;"> Jared </td>
                <td style="border: 1px solid black;"> 1 </td>
                <td style="border: 1px solid black;"> 3 </td>
                <td style="border: 1px solid black;"> 0 </td>
                <td style="border: 1px solid black;"> 1 </td>
                <td style="border: 1px solid black;"> 0 </td>
                <td style="border: 1px solid black;"> 2</td>
            </tr>
            <tr style="border: 1.5px solid black;">
                <td style="border: 1px solid black;"> 32345678 </td>
                <td style="border: 1px solid black;"> Sam</td>
                <td style="border: 1px solid black;"> 2 </td>
                <td style="border: 1px solid black;"> 1 </td>
                <td style="border: 1px solid black;"> 0 </td>
                <td style="border: 1px solid black;"> 1 </td>
                <td style="border: 1px solid black;"> 10</td>
                <td style="border: 1px solid black;"> 2 </td>
            </tr>
            </table>
            </div>

            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
