@if (ViewBag.InfoMessage != null)
{
    <div class="alert alert-info fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>@Html.Raw(ViewBag.InfoMessage)</span>
    </div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>@Html.Raw(ViewBag.SuccessMessage)</span>
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>@Html.Raw(ViewBag.ErrorMessage)</span>
    </div>
}

@if (ViewBag.WarningMessage != null)
{
    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>@Html.Raw(ViewBag.WarningMessage)</span>
    </div>
}