@model IEnumerable<LeaveSystemMVC.Models.sleaveBalanceModel>
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h3>Leave Balance</h3>
    <table class="table">
        <tr>
            <th>
                Annual 
            </th>
            <td>
                @ViewBag.claim.ToString()
            </td>
        </tr>
        <tr>
            <th>
                Sick 
            </th>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th>
                Compassionate 
            </th>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th>
                Maternity 
            </th>
            <td>
                32
            </td>
        </tr>
        <tr>
            <th>
                Days in Lieu 
            </th>
            <td>
                2
            </td>
        </tr>
        <tr>
            <th>
                Short Leave Hours 
            </th>
            <td>
                8
            </td>
        </tr>
    </table>
</div>
